$font-family-default: 'Graphik', apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-size-default: 14px;
$line-height-default: 1.2;

$bg-white: #fff;
$bg-dark: #2D2A26;
$bg-black: #000;
$bg-brand: #FFED00;
$bg-gray-light: #f7f7f7;

$color-white: #fff;
$color-dark: #2D2A26;
$color-brand: #FFED00;
$color-info: #287fc3;

$border-color-white: #fff;
$border-color-dark: #2D2A26;
$border-color-brand: #FFED00;