* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}


body {
	font-size: 1rem;
	font-family: 'Segoe UI', sans-serif;
}

li {
	list-style: none;
}

p,
ol,
ul,
li {
	margin-bottom: 1rem;
}

.gen-password {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.gen-password__title {
	text-align: center;
	margin: 15px 0 25px;
}

.gen-password__form-item {
	margin-bottom: 1rem;
}

.gen-password__form-item label {
	display: block;
}

.gen-password__form-item input[type=range] {
	width: 100%;
	display: block;
	margin-top: 5px;
}

.gen-password__form-btn {
	padding: 10px 25px;
	display: inline-block;
	margin-top: 1rem;
}

.gen-password__output {
	margin-top: 2rem;
}

.gen-password__output p {
	padding: 5px 25px;
	background: #f7f7f7;
	margin-bottom: .5rem;
}