/* ---------- CONTACTS.BEGIN ---------- */

.section-contacts {
	background: $bg-brand;
}

#contacts {
	padding-top: 65px;
	padding-bottom: 60px;

	.heading {
		margin-bottom: 30px;
	}
}

/* ---------- CONTACTS.END ---------- */